.bgg{
    background-color: bisque;
}
.verh{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}
.div01{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.div1{
    text-align: center;
    font-size: x-large;
}
.div2{
    text-align: justify;
    font-size: large;
}
.gol{
    text-align: right;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}